<div class="container mt-5">
  <div class="row mt-5 pt-4 mb-5 d-inline">
    <h4 class="text-center"><%= link_to @user.user_name, user_path(@user) %>'S FOLLOWING</h4>
  </div>
  <% if @following.present? %>
   <div class="row d-flex justify-content-around">
      <% @following.each do |cat| %>
        <div class="col-sm-4 justify-items-center text-center">
          <%= link_to cat_path(cat) do %>
            <%= image_tag cat.icon, class: "rounded-circle", size: "140x140" %>
          <% end %>
          <div class="d-flex flex-row justify-content-center align-items-center p-4">
            <h6 ><%= cat.cat_name %>ちゃん</h6>
            <h6 class="follow-btn pl-1">
              <%= render 'relationships/follow', cat: cat%>
            </h6>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col p-3 m-3 d-flex justify-content-center">
      <%= paginate @following %>
    </div>
  <% else %>
    <div class="text-center">
      <p><%= @user.user_name %>さんはまだねこちゃんをフォローしていないみたいです。</p>
    </div>
  <% end %>
</div>