  <div class="container mt-5">
    <div class="row mt-5 pt-4 mb-5 d-inline">
      <h2 class="text-center">
        <%= link_to @user.user_name, user_path(@user) %>'S LIKES
      </h2>
    </div>
    <% if @likes.present? %>
      <div class="row d-flex justify-content-around">
        <% @likes.each do |like| %>
          <div class="col col-12 col-sm-12 col-lg-4 mb-3">
              <div class="card border-0">
                <%= link_to photo_path(like.photo) do %>
                  <%= image_tag like.photo.cat_photo, class: "card-img-top" %>
                <% end %>
                <div class="d-flex flex-row   justify-content-between p-2">
                  <h6 class="card-title"><%= like.photo.detail %></h6>
                  <div class="like-btn card-text">
                    <%= render 'likes/like', photo: like.photo %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
      <div class="row">
      <div class="col p-3 m-3 d-flex justify-content-center">
        <%= paginate @likes %>
      </div>
    </div>
    <% else %>
      <div class="text-center">
        <p><%= @user.user_name %>さんはまだ何もいいねしていないみたいです。</p>
      </div>
    <% end %>
  </div>