<h2>仮ユーザー詳細ページ</h2>
<div class="user-contents">
  <h3><%= @user.user_name %>さん</h3>
  <h4>プロフィール</h4>
  <p><%= @user.user_profile %></p>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_path(@user) %>
  <% end %>
  <h4><%= link_to "いいねした写真", user_likes_path(@user) %></h4>
  <h4><%= link_to "フォローしているねこちゃん", user_following_path(@user) %></h4>
</div>
<div class="cat-contents">
  <% if @cats.present? %>
    <h3><%= @user.user_name %>さんのねこちゃん</h3>
    <ul class="cat-lists">
      <% @cats.each do |cat| %>
        <li class="cat-list">
          <div class>
            <%= link_to cat_path(cat) do %>
              <%= image_tag cat.icon, class: "cat-image"%>
            <% end%>
          </div>
          <div>
            <%= render 'relationships/follow', cat: cat %>
          </div>
          <div>
            お名前 <%= cat.cat_name %>
          </div>
          <div>
            品種 <%= cat.cat_breed.name %>
          </div>
          <div>
            年齢 <%= cat.cat_age if cat.cat_age.present? %>さい
          </div>
          <div>
            性別 <%= cat.cat_sex.name %>
          </div>
        </li>
      <% end %>
    </ul>
      <% if @photos.present? %>
        <h3><%= @user.user_name %>さんの投稿した写真</h3>
        <ul class="cat-lists">
          <% @photos.each do |photo| %>
              <li class="cat-list">
                <%= link_to photo_path(photo) do %>
                  <%= image_tag photo.cat_photo, class: "cat-image"%>
                <% end %>
                <div class="like-btn">
                  <%= render 'likes/like', photo: photo %>
                </div>
              </li>
          <% end %>
        </ul>
      <% else %>
          <span><%= @user.user_name %>さんはまだねこちゃん写真を投稿していないようです。</span>
          <%= link_to "ねこちゃん写真を投稿する", new_photo_path %>
      <% end %>
  <% else %>
    <span>まだねこちゃんを登録していないようです。</span>
    <%= link_to "ねこちゃんを登録する", new_cat_path %>
  <% end%>
</div>