<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top justify-content-between p-3">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-brand-link" do %>
      <h1>Nekostagram <i class="fas fa-paw ml-2"></i></h1>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav text-center">
        <% if user_signed_in? %>
          <li class="nav-item p-2"><h5><%= link_to "MY PAGE", user_path(current_user.id), class: "nav-link" %></h5></li>
          <li class="nav-item p-2"><h5><%= link_to "LIKES", user_likes_path(current_user), class: "nav-link" %></h5></li>
          <li class="nav-item p-2"><h5><%= link_to "FOLLOWING", user_following_path(current_user), class: "nav-link" %></h5></li>
          <li class="nav-item p-2"><h5><%= link_to "NEW POST", new_photo_path, class: "nav-link" %></h5></li>
          <li class="nav-item p-2"><h5><%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link" %></h5></li>
        <% else %>
          <li class="nav-item p-2"><h5><%= link_to "LOG IN", new_user_session_path, class: "nav-link" %></h5></li>
          <li class="nav-item p-2"><h5><%= link_to "SIGN UP", new_user_registration_path, class: "nav-link" %></h5></li>
        <% end %>
    </ul>
  </div>
</nav>