<%= form_with model: @photo, url: photos_path, local: true do |f| %>
  <div class="container mt-5">
    <%= render 'shared/error_messages', model: f.object%>
    <div class="row">
      <div class="col">
        <h4 class="text-center">新規ねこちゃん写真投稿</h4>
      </div>
    </div>
  <div>
  <div class="row mt-5 justify-content-center">
    <div class="col-sm-6 center-block text-center">
      <div class="form-group">
        <label for="photo_cat_photo">おしゃしん</label><span class="badge badge-danger">必須</span>
        <%= f.file_field :cat_photo, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="photo_detail">コメント</label><span class="form-text text-muted">（255文字以内）
        <%= f.text_area :detail, maxlength:"255", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="photo_cat_id">うつっているねこちゃん</label><span class="badge badge-danger">必須</span><br>
        <%= f.collection_check_boxes(:cat_ids, current_user.cats.all, :id, :cat_name) do |b| %>
          <%= b.label class: "form-control mt-3" do %>
            <%= b.check_box + b.text %>
          <% end %>
        <% end %>
      </div>
      <div class="form-group mt-5">
        <%= f.submit "登録する", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end%>