<!--新着写真（フォロー）-->
<% if @following_cats.present? %>
  <div class="container mt-5">
    <div class="row mt-5 pt-4 mb-5">
      <div class="col text-center">
        <h2>FOLLOWING'S NEW PHOTOS</h2>
      </div>
    </div>
    <% if @following_cats_photos.present? %>
      <div class="row d-flex justify-content-around">
        <% @following_cats_photos.each do |photo| %>
          <div class="col col-12 col-sm-12 col-lg-3 mb-3">
              <div class="card border-0">
                <%= link_to photo_path(photo) do %>
                  <%= image_tag photo.cat_photo, class: "card-img-top" %>
                <% end %>
                <div class="d-flex flex-row   justify-content-between p-2">
                  <h5 class="card-title"><%= photo.detail %></h5>
                  <div class="like-btn card-text">
                    <%= render 'likes/like', photo: photo %>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-center">
        <p>フォローしているねこちゃんはまだ写真が投稿されていないみたいです。</p>
      </div>
    <% end %>
  </div>
<% end %>

<!--新着写真-->
<div class="container mt-5">
  <div class="row mt-5 pt-4 mb-5 d-inline">
    <h2 class="text-center"> NEW PHOTOS</h2>
  </div>
  <div class="row d-flex justify-content-around">
    <% if @photos.present? %>
      <% @photos.each do |photo| %>
        <div class="col col-12 col-sm-12 col-lg-4 mb-3">
            <div class="card border-0">
              <%= link_to photo_path(photo) do %>
                <%= image_tag photo.cat_photo, class: "card-img-top" %>
              <% end %>
              <div class="d-flex flex-row justify-content-between p-2">
                <h5 class="card-title"><%= photo.detail %></h5>
                <div class="like-btn card-text">
                  <%= render 'likes/like', photo: photo %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% else %>
      まだ誰もねこちゃん写真を投稿していないようです。
      <% if user_signed_in? %>
        <% if current_user.cats.exists? %>
          <%= link_to "ねこちゃん写真を投稿する", new_photo_path %>
        <% else %>
          <%= link_to "新しくねこちゃんを登録する", new_cat_path %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<!--新着ねこちゃん-->
<div class="container mt-5">
  <div class="row mt-5 pt-4 d-inline">
    <h2 class="text-center">NEW CATS</h2>
  </div>
  <div class="row d-flex justify-content-around">
    <% if @cats.present? %>
      <% @cats.each do |cat| %>
        <div class="col col-6 col-sm-6 col-lg-4 justify-items-center text-center">
          <%= link_to cat_path(cat) do %>
            <%= image_tag cat.icon, class: "rounded-circle", size: "140x140" %>
          <% end %>
          <div class="d-flex flex-row justify-content-center align-items-center p-4">
            <h5 ><%= cat.cat_name %></h6>
            <h5 class="follow-btn pl-1">
              <%= render 'relationships/follow', cat: cat%>
            </h5>
          </div>
        </div>
      <% end %>
    <% else %>
      まだねこちゃんが登録されていないようです。
    <% end %>
  </div>
</div>
