<h1>nyanstagram</h1>
<% if user_signed_in? %>
  <div>
    <p>ようこそ、<%= link_to current_user.user_name, user_path(current_user.id) %>さん
    <%= link_to "いいねした写真", user_likes_path(current_user) %>
    <%= link_to "フォローしているねこちゃん", user_following_path(current_user) %>
    <br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  <div>
    <%= link_to "新規ねこちゃん", new_cat_path %>
    <%= link_to "新規写真投稿", new_photo_path %>
  </div>
<% else %>
  <div>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
<% end %>
<div>
  <ul class="new-photo-list">
    <h3>新着ねこちゃん写真</h3>
    <% if @photos.present? %>
      <% @photos.each do |photo| %>
        <li class="new-photo-column">
          <%= link_to photo_path(photo) do %>
            <%= image_tag photo.cat_photo, class: "cat-photo" %>
          <% end %>
        <li class="like-btn">
          <%= render 'likes/like', photo: photo %>
      <% end %>
    <% else %>
      まだ誰もねこちゃん写真を投稿していないようです。
      <%= link_to "ねこちゃん写真を投稿する", new_photo_path %>
    <% end %>
  </ul>
</div>