<%= form_with model: @cat, url: cats_path, local: true do |f| %>
  <div class="container mt-5">
    <%= render 'shared/error_messages', model: f.object%> 
    <div class="row">
      <div class="col">
        <h4 class="text-center">新規ねこちゃん登録</h4>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-sm-6 center-block text-center">
        <div class="form-group">
          <label for="cat_cat_name">おなまえ</label><span class="badge badge-danger">必須</span>
          <%= f.text_field :cat_name, maxlength:"40", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="cat_cat_age">ねんれい<span class="badge badge-secondary">数字のみ</span></label>
          <%= f.text_field :cat_age, class: "form-control" %>
          <span class="form-text text-muted">
            ※1才未満は0で記入してください。
          </span>
        </div>
        <div class="form-group">
          <label for="cat_cat_sex_id">せいべつ</label><span class="badge badge-danger">必須</span>
          <%= f.collection_select(:cat_sex_id, CatSex.all, :id, :name, {}, {class: "form-control"}) %>
        </div>
        <div class="form-group">
          <label for="cat_cat_breed_id">ひんしゅ</label><span class="badge badge-danger">必須</span>
          <%= f.collection_select(:cat_breed_id, CatBreed.all, :id, :name, {}, {class: "form-control"}) %>
        </div>
        <div class="form-group">
          <label for="cat_icon">おしゃしん</label><span class="badge badge-danger">必須</span>
          <%= f.file_field :icon, class: "form-control" %>
        </div>
        <div class="form-group mt-5">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end%>